In [5]:
import numpy as np
import pandas as pd
judical_data = pd.read_csv("/Users/app/Desktop/judicial_dataset_predictions.csv")
parachute_data = pd.read_csv("/Users/app/Desktop/parachute_dataset.csv")

In [6]:
judical_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [7]:
parachute_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

In [10]:
#Number of error 
num_err = judical_data[judical_data['actual'] != judical_data['predicted']].shape[0]
err_per  = num_err / judical_data.shape[0]
err_per

0.042152958945489497

False Positive We predicted yes, but they don't actually have the disease. (Also known as a "Type I error.")

In [22]:
#type 1 error  False Positive 
false_positives = judical_data[(judical_data['actual'] == 'innocent') &\
                              (judical_data['predicted'] == 'guilty')].shape[0]
type_1_errr = false_positives/judical_data.shape[0]
type_1_errr

0.001510366607167376

false negatives (FN): We predicted no, but they actually do have the disease. (Also known as a "Type II error.")

In [25]:
#type2 error False Negatives 
false_negatives = judical_data[(judical_data['actual'] == 'guilty') &\
                               (judical_data['predicted'] == 'innocent')].shape[0]
type_2_err = false_negatives/judical_data.shape[0]
type_2_err

0.04064259233832212